<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.styx.steer.Client">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".App.Steer"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:overrideLibrary="com.oguzdev.circularfloatingactionmenu.library">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.Tutorial"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Activity.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ControlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/text_control"
            android:theme="@style/control" />
        <activity
            android:name=".Activity.FileExplorerActivity"
            android:label="@string/text_file_explorer"
            android:theme="@style/file" />
        <activity
            android:name=".Activity.Presentation"
            android:label="@string/Presentation"
            android:screenOrientation="portrait"
            android:theme="@style/ppt" />
        <activity
            android:name=".Activity.EasyMode"
            android:label="@string/EasyMode"
            android:screenOrientation="portrait"
            android:theme="@style/easymode" />
        <activity
            android:name=".Activity.Media"
            android:label="@string/Media"
            android:screenOrientation="portrait"
            android:theme="@style/media" />
        <activity
            android:name=".Activity.Shortcuts"
            android:label="@string/Shortcuts"
            android:screenOrientation="portrait"
            android:theme="@style/shortcuts" />
        <activity
            android:name=".Activity.Browser"
            android:label="@string/Browser"
            android:screenOrientation="portrait"
            android:theme="@style/browser" />
        <activity
            android:name=".Activity.About"
            android:label="@string/About" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:label="@string/text_settings"
            android:theme="@style/Settings" />
        <activity
            android:name=".Activity.HelpActivity"
            android:label="@string/text_help" />
        <activity
            android:name=".Activity.connection.ConnectionBluetoothEditActivity"
            android:label="@string/text_bluetooth"
            android:theme="@style/connections" />
        <activity
            android:name=".Activity.connection.ConnectionListActivity"
            android:label="@string/text_connections"
            android:theme="@style/connections" />

    </application>

</manifest>